In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv')

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
target=train['Loan_Status']

In [6]:
ab=['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term','Credit_History']

In [7]:
for column in ab:
    train[column].fillna(train[column].mode()[0], inplace=True)

In [8]:
mean = train['LoanAmount'].mean()
train['LoanAmount']=train['LoanAmount'].fillna(mean)

In [9]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
del train['Loan_Status']
del train['Loan_ID']

In [11]:
all_col=train.columns
num_col=list(train._get_numeric_data().columns)
cat_col=list(set(all_col)-set(num_col))
cat_col

['Married',
 'Dependents',
 'Property_Area',
 'Gender',
 'Self_Employed',
 'Education']

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [13]:
for col in cat_col:
    train.loc[:,col] = le.fit_transform(train.loc[:,col].astype('str'))

In [14]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train,target,test_size = 0.30)

In [16]:
train.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [17]:
#Random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier(max_depth=8)

In [18]:
rf=rf.fit(x_train,y_train)

C:\Users\Vigneshwaraa Sarang\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [19]:
rf_pred=rf.predict(x_test)

In [20]:
accuracy_score(rf_pred,y_test)

0.7891891891891892

In [21]:
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier()

In [22]:
abc=abc.fit(x_train,y_train)

In [23]:
abc_pred=abc.predict(x_test)

In [24]:
accuracy_score(abc_pred,y_test)

0.772972972972973

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier(learning_rate=0.2,n_estimators=10,max_depth=3)

In [26]:
gbc=gbc.fit(x_train,y_train)

In [27]:
gbc_pred=gbc.predict(x_test)

In [28]:
accuracy_score(gbc_pred,y_test)

0.7891891891891892

In [29]:
from xgboost import XGBClassifier

In [30]:
xgb=XGBClassifier(learning_rate=0.2,n_estimators=10)

In [31]:
xgb=xgb.fit(x_train,y_train)

In [32]:
xgb_pred=xgb.predict(x_test)

In [33]:
accuracy_score(xgb_pred,y_test)

0.7945945945945946

In [37]:
#test=pd.read_csv("test.csv")

In [36]:
#test.head()